.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.video-grid-item {
  flex-basis: calc(33.3333% - 1rem);
  max-width: calc(33.3333% - 1rem);
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .video-grid-item {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media screen and (max-width: 767px) {
  .video-grid-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}
